<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <p>Api: https://node-geocoder-api.herokuapp.com/api/geocoder/coordinate</p>
  <p>Post Method: { "latitude": latitude value, "longitude": longitude value }</p>

  <p>Api: https://node-geocoder-api.herokuapp.com/api/geocoder/address</p>
  <p>Post Method: { "address": Address String }</p>
</body>

</html>